body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 5px;
}

.container {
  display: flex;
  height: auto;
  flex-direction: column; 
  background-color: rgb(222, 243, 236);
  border: solid white 1px;
  border-radius: 50px 50px 0px 0px;
  overflow-y: visible;
}

.content-wrapper {
  display: flex;
  flex: 1;
}

.main-content {
  flex: 1; 
  padding: 40px 20px 20px 60px;
  overflow-y: auto;
}

/* Media Queries */

/* Small devices (phones, less than 600px) */
@media (max-width: 599px) {
  .container {
    border-radius: 20px 20px 0 0;
  }
  
  .main-content {
    padding: 20px 10px 10px 20px;
  }
}

/* Medium devices (tablets, 600px and up) */
@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    border-radius: 30px 30px 0 0;
  }
  
  .main-content {
    padding: 30px 15px 15px 40px;
  }
}

/* Large devices (desktops, 1024px and up) */
@media (min-width: 1024px) {
  .container {
    border-radius: 50px 50px 0 0;
  }
  
  .main-content {
    padding: 40px 20px 20px 60px;
  }
}
